{% extends 'base.html.twig' %}


{% block body %}
    
    {% for categorie in categories %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card" style="">
            <img src="/images/{{categorie.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{categorie.nom}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="{{ path('app_categories', { categorie: categorie.id})  }}" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        </div>
    {% endfor %}
{% endblock %}
